.a1{
    background-color: blueviolet;
    border: 2px solid white;
    color: black;
    text-align: center;
}
.b1{
    background-color: blueviolet;
    border: 2px solid white;
    color: rgb(68, 66, 66);
    text-align: center;
}